<form [formGroup]="loginForm" #formControl="ngForm" (submit)="signIn()">
  <mat-form-field>
    <mat-label>Username</mat-label>
    <input type="text" matInput formControlName="userName" />
    <mat-error *ngIf="userName.hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input
      type="password"
      matInput
      appPasswordShown
      #passwordInput="appPassword"
      formControlName="password"
    />
    <button
      matSuffix
      mat-icon-button
      type="button"
      (click)="passwordInput.toggleInputType()"
    >
      <mat-icon
        [fontIcon]="
          passwordInput.isPasswordShown ? 'visibility' : 'visibility_off'
        "
      ></mat-icon>
    </button>
    <mat-error *ngIf="password.hasError('required')">
      Password is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="formControl.invalid"
  >
    Login
  </button>
  <button mat-button type="button" color="primary" (click)="goToRegistration()">
    Register
  </button>
</form>
