<div class="disclaimer_wrapper">
  <h2>ყურადღება!!!</h2>
  <p>
    თქვენ აპირებთ, ხასიათის დამდგენი ტესტის გავლას. წინ გელით 5 შეკითხვა 16
    სავარაუდო პასუხით. თითო შეკითხვაზე შეგიძლიათ აირჩიოთ, ერთი, რამდენიმე ან
    ყველა პასუხი. პასუხების არჩევისას გამოიყენეთ შემდეგი პრინციპი, გადახედეთ
    ყველა სავარაუდო პასუხს, შემდეგ აირჩიეთ ის რომელიც, თქვენი აზრით, გახასიათებთ
    ყველაზე მეტად, შემდეგ დარჩენილი პასუხებიდან ასევე აირჩიეთ ის პასუხი რომელიც,
    თქვენი აზრით, გახასიათებთ ყველაზე მეტად, და ა.შ. გთხოვთ, პასუხები აარჩიეთ
    ფრთხილად, ამ ტესტში <b>დიდი მნიშვნელობა აქვს არჩევის თანმიმდევრობას</b>,
    ასევე არჩევის შემდეგ, პასუხის ამოშლა არ არის შესაძლებელი. არჩევა შეგიძლიათ
    <b>ორმაგი დაკლიკვით</b>.
  </p>
  <button
    type="button"
    mat-raised-button
    color="primary"
    (click)="navigateToQuiz()"
  >
    ტესტის დაწყება
  </button>
</div>
