@use "../../../../globals.scss" as globals;

:host {
  @extend %host_placeholder;
  .disclaimer_wrapper {
    max-width: globals.pxToRem(500);
    margin: 0 globals.pxToRem(15);
    h2 {
      @include globals.fontSizing(34, 38);
      color: red;
    }

    p {
      @include globals.fontSizing(24, 34);

      & + button {
        margin-top: globals.pxToRem(15);
      }
    }
  }
}
