<div class="disclaimer_wrapper">
  <h2>ყურადღება!!!</h2>
  <p>
    თქვენ აპირებთ, ხასიათის დამგენი ტესტის გავლას. წინ გელით 5 შეკითხვა 16
    სავარაუდო პასუხით. თითო შეკითხვაზე შეგიძლიათ აირჩიოთ, ერთი, რამდენიმე ან
    ყველა პასუხი. გთხოვთ პასუხები აარჩიეთ ფრთხილად, ამ ტესტში აზრი აქვს არჩევის
    თანმიმდევრობას, ასევე არჩევის შემდეგ პასუხის ამოშლა არ არის შესაძლებელი.
    გთხოვთ ყველა სავარაუდო პასუხი გადახედეთ და მერე დაიწყეთ არჩევა, ორმაგი
    დაკლიკვით.
  </p>
  <button type="button" mat-raised-button color="primary">
    ტესტის დაწყება
  </button>
</div>
