<paa-loader *ngIf="isLoading$ | async"></paa-loader>
<ng-container
  *ngIf="!(isLoading$ | async) && (quizCollection$ | async) as quizCollection"
>
  <h2>{{ quizCollection.question }}</h2>
  <ul [class.listed]="activeCategory === 'facebookers'">
    <li *ngFor="let quiz of quizCollection.data">
      <paa-quiz
        [title]="quiz.title"
        [imgPath]="quiz.imgPath"
        [personalityCode]="quiz.personalityCode"
        [isSelected]="selections[activeCategory].includes(quiz.personalityCode)"
        (select)="onSelection($event)"
      ></paa-quiz>
    </li>
  </ul>
  <div class="actions">
    <button
      mat-stroked-button
      [disabled]="activeIndex === 0"
      (click)="changePage(-1)"
    >
      წინა
    </button>
    <button
      mat-raised-button
      color="primary"
      *ngIf="activeIndex < categories.length - 1"
      [disabled]="selections[activeCategory].length === 0"
      (click)="changePage(1)"
    >
      შემდეგი
    </button>
    <button
      mat-raised-button
      color="warn"
      [disabled]="selections[activeCategory].length === 0"
      *ngIf="activeIndex === categories.length - 1"
      (click)="onEnd()"
    >
      დასრულება
    </button>
  </div>
</ng-container>
