@use "../../../../globals.scss" as globals;

:host {
  @extend %host_placeholder;
  form {
    display: flex;
    flex-direction: column;
    width: globals.pxToRem(350);
    mat-label {
      @include globals.fontSizing(16, 20);
    }

    @media screen and (max-width: 370px) {
      width: globals.pxToRem(250);
    }
  }
}
