<form
  [formGroup]="registrationForm"
  #formControl="ngForm"
  (submit)="onSignUp()"
>
  <mat-form-field>
    <mat-label>Username</mat-label>
    <input type="text" matInput formControlName="userName" />
    <mat-error *ngIf="userName.hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input
      type="password"
      matInput
      appPasswordShown
      #passwordInput="appPassword"
      formControlName="password"
    />
    <button
      matSuffix
      mat-icon-button
      type="button"
      (click)="passwordInput.toggleInputType()"
    >
      <mat-icon
        [fontIcon]="
          passwordInput.isPasswordShown ? 'visibility' : 'visibility_off'
        "
      ></mat-icon>
    </button>
    <mat-error *ngIf="password.hasError('required')">
      Password is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Repeat password</mat-label>
    <input
      type="password"
      matInput
      appPasswordShown
      #repeatPasswordInput="appPassword"
      formControlName="repeatPassword"
    />
    <button
      matSuffix
      mat-icon-button
      type="button"
      (click)="repeatPasswordInput.toggleInputType()"
    >
      <mat-icon
        [fontIcon]="
          repeatPasswordInput.isPasswordShown ? 'visibility' : 'visibility_off'
        "
      ></mat-icon>
    </button>
    <mat-error *ngIf="repeatPassword.hasError('required')">
      Repeat password is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-error *ngIf="registrationForm.hasError('passwordMismatch')">
    Passwords must strong match.
  </mat-error>
  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="formControl.invalid"
  >
    Sign Up
  </button>
</form>
